/* Ponto 1 */
body{
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-size: 20px;
 }

 h1, h2 {
    margin: 0px;
 }

 p {
    line-height: 1.5em;
 }

/* Se se pretender apenas os elementos que sejam do tipo div e com esta classe, usar div.base */
 .base {
    background-color: #eeeeee;
 }

/* Se se pretender apenas os elementos que sejam do tipo section e com esta classe, usar section.bloco1 */
 .bloco1 {
    background-color: orange;
 }

/* Se se pretender apenas os elementos que sejam do tipo section e com esta classe, usar section.bloco2 */
 .bloco2 {
    background-color: green;
 }

/* Se se pretender apenas os elementos que sejam do tipo section e com esta classe, usar section.bloco3 */
 .bloco3 {
    background-color: red;
 }

 /* Ponto 2 - Podia utilizar-se a entrada do Ponto 1 relativa a este Div para este exercicio. */
 div.base{
    width: 960px;
    margin: auto;
 }

 /* Ponto 3 */
 section.bloco1 {
    width: 200px;
 }

 section.bloco1 {
    float: left;
 }

 /* Ponto 4 */
 section.bloco2 {
    width: 500px;
    float: left;
 }

 section.bloco3 {
    margin-left: 700px;
 }

 /* Ponto 5 */
section.bloco2 > img {
    margin: 10px;
    float: left;
}